@model DACS_web.Models.Khoa

@{
    ViewData["Title"] = "Thông tin chi tiết khoa";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1 class="mb-4">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">Mã khoa</dt>
            <dd class="col-sm-8">@Model.MaKhoa</dd>

            <dt class="col-sm-4">Tên khoa</dt>
            <dd class="col-sm-8">@Model.TenKhoa</dd>

            <dt class="col-sm-4">Mô tả</dt>
            <dd class="col-sm-8">@Model.MoTa</dd>
        </dl>

        <div class="mt-3">
            <a asp-action="Edit" asp-route-id="@Model.MaKhoa" class="btn btn-warning">Sửa</a>
            <a asp-action="Index" class="btn btn-secondary">Quay về danh sách</a>
        </div>
    </div>
</div>
